html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Architects Daughter', cursive;
  
}

.timer {
  width: 600px;
  font-size: 49px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
};

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;;
}




